/* .cart-container {
    position: sticky;
    top: 0;
} */

.profile {
    display: flex;
    align-items: center;
    margin: 10px 40px;
}

.profile h1 {
    margin-left: 20px;
    color: green;
}

.profile-details {
    background-color: darkgray;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 40px;
}

.add-a-break-container {
    margin: 30px 40px;
}

.break {
    margin: 20px 40px;
    background-color: darkgray;
    padding: 10px;
    border-radius: 5px;
}

.cart-info-container {
    margin: 20px 40px;
    background-color: darkgray;
    padding: 10px;
    border-radius: 5px;
}