.add-a-break-container {
    margin: 30px 40px;
}

.break {
    margin: 20px 40px;
    background-color: darkgray;
    padding: 10px;
    border-radius: 5px;
}

.activity-completed {
    margin: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-info-container {
    margin: 20px 40px;
    background-color: darkgray;
    padding: 10px;
    border-radius: 5px;
}