.home-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 30px 40px;

}

.profile {
    display: flex;
    align-items: center;
    margin: 10px 40px;
}

.profile h1 {
    margin-left: 20px;
    color: green;
}

.profile-details {
    background-color: darkgray;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 40px;
}

.add-a-break-container {
    margin: 30px 40px;
}

.break-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.break-time h1 {
    background-color: darkgray;
    padding: 10px;
}